<div>
  <%= f.label :name, "title" %>
  <%= f.text_field :name %>
</div>
<br />
<div>
  <%= f.label :content %>
  <%= f.text_area :content %>
</div>
<br />
<div class="field">
  <%= f.label :upload_image %><br />
  <%= f.file_field :image %>
</div>

<% if @post.image %>
  <div>
    <%= image_tag(@post.image.url(:thumb)) %>
  </div>
<% end %>

<%= f.submit %>
