<div>
title:<%= @post.name %>
</div>
<div>
content:<%= @post.content %>
</div>

<%= link_to "Back to list", board_posts_path(@board) %>
<%= link_to "edit", edit_board_post_path(@board, @post) %>
<%= link_to "delete", board_post_path(@board, @post), :confirm => "Are you sure?", :method => :delete %>
